@import '../variables';

.faq{
    background-color: $color-faq-background;

    div.accordion-item {
        background-color: unset;
        .accordion-button {/*.accordion-header*/
            color: #fff;
            background-color: $color-faq-header;
        }
    }
    &-title {
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2;
            
        @media screen and (min-width: 902px) {
            font-size: 3.5rem;
        }
    }

    &-clickable{
        cursor: pointer;
    }
}


